.titolih1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 400%;
}

.titolih2 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 200%;
}

.titolih3 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 150%;
}

.foot {
    background-color: grey;
}

.migliori {
    text-align: center;
}

.migliori li {
    list-style-type: none;
    display: inline-block;
    margin-left: 2%;
}

.migliori ul {
    width: 100%;
    left: 0px;
    padding-left: 0%;
    padding-right: 0%;
    right: 0px;
}

.intestazione {
    text-align: center;
}